/* Add blue background to each section */
section {
    background-color: #d9d9d9; /* Change to your preferred blue color */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 5px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#bio {
    padding: 30px
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Style for the image container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 600px;  */
    gap: 0;
}

/* Style for the scaled image */
.image-container img {
    max-width: 100%;
    max-height: 100%;
    /* width: auto;
    height: auto; */
    margin: 0;  
}

#clustrmaps-container canvas {
    transform: scale(0.8);
    transform-origin: top left;
}

h1, h2, h3, h4 {
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none; /* Remove underline */
    color: #3498db; /* Set link color to your desired color */
}

article {
    border: 4px solid black;
    background-color:rgb(255, 255, 255);
    padding: 1%;
    margin: 1%;
}

#clustrmaps-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}